table {
    border-collapse: collapse;
  }
  
  table,tr {
    border: 1px solid black;
  }

  div.order{
    border: 1px solid black;
    width:200px;
    
  }

  body{
    display:grid;
    grid-template-columns: 20% 60%;
  }